{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .navbar-nav .nav-item:hover .nav-link {
        color: #ffffff;
        background-color: #222222;
    }
    
    .navbar-nav .nav-item .nav-link {
        font-size: 18px;
    }
    .navbar-nav .nav-item.active .nav-link {
        background-color: #CCCCCC;
    }
    .navbar-collapse {
        margin-top: 1rem;
    }
    
</style>
<div class="text-center">
    <h2 class="h3 mb-3 fw-normal">정규 스케줄</h2>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-color border-bottom">
    <button class="navbar-toggler ml-auto navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'schedule' %}">G7+ / Y8+</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'g6' %}">G6 / Y7</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'g5' %}">G5 / Y6</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'g4' %}">G4 / Y5</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'g3' %}">G3 / Y4</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>
<div class="pricing-header p-1 pb-md-4 mx-auto text-center">
    <img class="img-fluid mx-auto d-block" src="{% static 'schedule/g5/1.png' %}">
    <p class="fs-9 text-body-secondary-dark" style="white-space: pre-line; margin: 2rem;">    
        Academic Reading and Writing 은
        Middle 준비!
        보딩 준비!
        를 위한 아카데믹한 수업입니다.
        기본적인 단어 암기,
        국제학교 수업 뿐만 아니라
        SSAT, ISEE, TOEFL(Junior)
        MAP Test, CAT RC, PAST(8/9)
        등 각종 표준화 시험에 필요한
        Critical Reading 과
        Essay Writing 의 기본기를 탄탄히 다져주는 수업입니다.

        긴 호흡의 비문학 지문을
        빠르고 정확하게 읽어내는 훈련을 하고
        지문의 어휘를 모르더라도
        문맥을 통해 유추할 수 있는 능력
        Main Idea 와 Key Words 들을 파악하며 읽는 훈련을 통해
        정확한 속독력을 길러줍니다.
        고학년이 될 수록 필요한
        아카데믹한 논리적 글쓰기의 기초를 다집니다.
        서론, 본론, 결론의 구조를 배우고
        Hook Sentence, Main Idea 와 Details를 
        유기적이고 논리적으로 작성하고
        독자를 고려한 글쓰기를 습득합니다.
        
        수년 간 쌓아온 SNT 만의 
        Main Idea, Key Words 찾기 
        Annotation 방법으로 
        정확하고 빨리 읽는 능력을 키울 수 있습니다. 
    </p>
    <br><br>
    <h4><strong>G5/Y6 Debate</strong></h4>
    <p class="fs-9 text-body-secondary-dark" style="white-space: pre-line; margin: 2rem;">    
        SNT 제주의 디베이트 프로그램은 매 달 하나의 테마를 가지고
        매 주 새로운 주제에 대해 찬반으로 토론하는 수업입니다.
        본 프로그램은 아이들이 주어진 주제에 대한 배경 지식을 쌓고,
        토론에 연관된 개인, 단체, 기관들의 입장을 고민해보고,
        찬성과 반대의 대립적인 딜레마를 균형있게 생각해보게 합니다.

        따라서 학생들이 매 주 하나의 토론을 할 때마다
        1) 큰 테마에 관련된 배경지식을 하나씩 익히고,
        2) 배정된 팀원들과 협력하여 설득력있는 케이스를 짜보고,
        3) 아이들 앞에서 짜임새있게 정리된 4분 스피치를 해봄으로써
        논리적으로 생각하는 힘을 길러줍니다.
        
        뿐만 아니라,
        SNT 대치 + 분당 + 제주가 3개월마다 함께하는
        SNT 챔피언십 원내 대회의 참가 기회를 통해
        도전과 승패를 통한 경험을 할 수 있으며,
        추후에 있을 국내외 대회들을 나갈 수 있도록 준비합니다.

        수업을 위한 기본 숙제:
        1) 주차별 자체 교재 미리 읽어오기.
        2) 주차별 모르는 단어 뜻 찾아오기.
        3) 주관식 질문에 답해오기.
        4) 지난 주 토론 주제에 대한 케이스 정리하기.
        
    </p>
    <p class="fs-9 text-body-secondary-dark" style="white-space: pre-line; margin: 2rem;">
        *카카오톡채널: <a href="http://pf.kakao.com/_qxixcxhxj/chat">카카오톡</a> 
        *신규생은 <a href="{% url 'leveltest' %}">입반테스트</a> 필수입니다. 예약 후 방문해 주세요.
    </p>
</div>


{% endblock content %}