{% extends 'base.html' %}

{% block content %}
<div class="text-center">
	<h3>입반테스트 예약하기</h3>
</div>

<style type="text/css">
	.info{
		width: 50%;
		float: right;
	}
	
	.calender {
		width: 100%;
		cursor: pointer;
		max-width: 100%;
		min-width: 450px;
		height: 45px;
		background-color: transparent;
		outline: none;
		font-size: 20px;
		position: absolute;
		left: 50%;
		top: 45%;
		transform: translate(-50%, -50%);
		padding: 0px;
		float: left;
		color: #222;
		border: 0px;
		cursor: pointer;
		overflow: visible;
		animation: newRow .4s ease-in;
		-webkit-animation: newRow 0.4s ease-in;
		transition: all 0.4s ease-in;
	}
	
	.calender:before, .btnSplit:before {
		content: '';
		width: 100%;
		height: 20px;
		background: rgba(255, 255, 255, 1); /* Change the color to white */
		position: absolute;
		top: 0px;
		left: 0px;
		transition: all 0.3s ease-in;
	}
	.calender:after {
		content: '';
		width: 100%;
		height: 20px;
		background: rgba(128, 128, 128, 1); /* Change the color to gray */
		position: absolute;
		bottom: 0px;
		left: 0px;
		z-index: 0;
		transition: all 0.3s cubic-bezier(.55, 0, .1, 1);
	}
	
	
	/* CSS for after-split button (JS driven event) */
	.btnSplit:before{
		box-shadow: 4px 4px 16px black;
	}
	.btnSplit{
	}
	.btnSplit:after{
		content: '';
		width: 100%;
		text-align: right;
		height: 20px;
		background-color: rgba(128,128,128, 1);
		position: absolute;
		vertical-align: bottom;
		height: 75px;
		bottom: -210px;
		left: 0px;
		z-index: 9;
		box-shadow: 2px 2px 206px black;
	}
	.display_span{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		text-align: center;
		transform: translate(-50%, -50%);
		z-index: 1;
		visibility: visible;
		opacity: 1;
		font-size: 27px;
		transition: all 0.3s ease-in;
		line-height: 45px;
	}
	/* onClick display span dissapears to left*/
	.spanGone{
		opacity: 0;
		left: 0px;
		visibility: hidden;
		z-index: -1;
	}
	/* month year spans*/
	.m_y{
		position: relative;
		visibility: hidden;
		top: 0px;
		left: 0px;
		width: 100%;
		/*z-index: 99;*/
		height: 20px;
		background-color: #999;
		color: #fff;
	}
	/* previous month */
	.m_btn{
		position: absolute;
		height: 100%;
		background-color: #666;
		color: #fff;
		outline: none;
		text-align: center;
		border: 0px; 
		width: 10%;
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
	}
	.left{
		left: 0px;
	}
	.right{
		right: 0px;
	}
	/* spans */
	.m_span{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		text-align: center;
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		transform: translate(-50%, -50%);
		transition: all 0.3s ease-in;
	}
	
	/* Calenders */
	.calender_div{
		width: 100%;
		height: 0px;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 20px;
		transition: all 0.3s ease-in;
		background: rgba(255, 255, 255, 0.9);
	}
	/* after opening calender */
	.OpenCalender{
		height: auto;
		opacity: 1;
		visibility: visible;
		z-index: 99;
	}
	/* all date divs */
	.date_blocks, .date_blocks_empty, .date_blocks_days, .date_blocks_disabled, .date_blocks_holiday, .date_blocks_weekends{
		width: 14.28%;
		height: 45px;
		float: left;
		position: relative;
		background-color: #f0f0f0;
		color: #222;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
		z-index: 99;
		font-size: 27px; 
	}
	.date_blocks_days{
		color: #222;
		text-align: center;
		font-size: 24px;
	}
	
	.date_blocks:before, .Optional:before{
		content: '';
		height: 100%;
		width: 0px;
		position: absolute;
		left: 0px;
		background: #f0f0f0;
		transition: all .1s linear;
		cursor: pointer;
		-webkit-user-select: none;
		z-index: -1;
	}
	
	.date_blocks:nth-of-type(7n+0),
	.date_blocks:nth-of-type(7n+1),
	.date_blocks_days:nth-of-type(7n+0),
	.date_blocks_days:nth-of-type(7n+1),
	.date_blocks_empty:nth-of-type(7n+0),
	.date_blocks_empty:nth-of-type(7n+1),
	.date_blocks_disabled:nth-of-type(7n+0),
	.date_blocks_disabled:nth-of-type(7n+1), 
	.date_blocks_weekends{
		background-color: #f0f0f0;
		color: #222;
	}
</style>
<div class='calender' id='calender' style='width:300px'></div>
<script>
	// Utility: shorthand for the document.getElementByID()
	function _(key) {
		return document.getElementById(key);
	}
	
	// Constructor
	function NDP(elementID) {
		
		daysList = ['일', '월', '화', '수','목', '금', '토'];
		monthsList = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];	
		no_of_days = {Jan: 31, Feb: 28, Mar: 31, Apr: 30, May: 31, Jun: 30, Jul: 31, Aug: 31, Sep: 30, Oct: 31, Nov: 30, Dec: 31};
		cur_opened = null;
		div = elementID;
		
		// Fn: to create calender in a div / change calender upon change in month_year
		// parameters
		// 1. month - format e.g. Jan
		// 2. year - yyyy
		getCal = function (month, year) {
			
			var cal_div = document.createElement('div');
			cal_div.id = div + '_calender_div';
			cal_div.className = 'calender_div';
			cal_div.style.visibility = 'hidden';
			_(div).appendChild(cal_div);
			
			var my_div = document.createElement('div');
			my_div.id = div + '_m_y';
			my_div.className = 'm_y';
			my_div.style.visibility = 'hidden';
			
			var prev_m = document.createElement('button');
			prev_m.id = 'prev_m_' + div;
			prev_m.className = 'm_btn left';
			prev_m.innerHTML = '&larr;';
			prev_m.setAttribute('onClick', 'updateMonthYear(id)');
			
			var next_m = document.createElement('button');
			next_m.id = 'next_m_' + div;
			next_m.className = 'm_btn right';
			next_m.setAttribute('onClick', 'updateMonthYear(id)');
			next_m.innerHTML = '&rarr;';
			
			var m_span = document.createElement('span');
			m_span.id = div + '_m_span';
			m_span.className = 'm_span';
			m_span.innerHTML = month + '_' + year;
			m_span.setAttribute('onClick', 'expand_toggle(\'' + div + '\')');
			
			my_div.appendChild(prev_m);
			my_div.appendChild(m_span);
			my_div.appendChild(next_m);
			
			_(div).appendChild(my_div);
			var d_span = document.createElement('span');
			d_span.innerHTML = '날짜 선택';
			d_span.id = div + '_d_span';
			d_span.className = 'display_span';
			d_span.setAttribute('onClick', 'expand_toggle(\'' + div + '\')');
			_(div).appendChild(d_span);
			_(div).appendChild(cal_div);
			updateCal(cal_div, month, year); 	
		}
		
		updateCal = function (cal_div, month, year) {
			cal_div.innerHTML = '';
			if (month == null || year == null ) {
				var month = monthsList[new Date().getMonth()];
				var year = new Date().getFullYear();
			}
			
			if (month == "Feb" && year % 4 == 0 && year % 400 != 0) {
				totalDays = 29;
			} else {
				totalDays = no_of_days[month];
			}
			
			var day_on_1 = new Date(month + " 01" + ", " + year).getDay();	
			for(var i = 0; i < daysList.length; i++) {
				cal_div.innerHTML += "<div class='date_blocks_days' id='days_" + daysList[i] + "'>" + daysList[i] + "</div>";
			}
			
			if(day_on_1 > 0) {
				while (day_on_1 >0) {
					cal_div.innerHTML += "<div class='date_blocks_empty'></div>";
					day_on_1--;
				}
			} else if (day_on_1 == 0 && month =='Feb' && year % 4 != 0) {
				for (var i = 0; i < 7; i++) {
					cal_div.innerHTML += "<div class='date_blocks_empty'></div>";
				}
			}
			
			for(var i = 1; i <= totalDays; i++) {
				fulldate = year + '-' + (((monthsList.indexOf(month) + 1) + '').length == 1 ? '0' + (monthsList.indexOf(month) + 1): (monthsList.indexOf(month) + 1)) + '-' + ((i + '').length == 1 ? '0' + i : i);
				
				if ( new Date(fulldate).getDay() % 6 == 0 ) {
					cal_div.innerHTML += "<div class='date_blocks date_blocks_weekends' id='"  +cal_div.id + "_" + i + "_date_block' onClick='setValue(\"" + cal_div.parentElement.id + "\", innerHTML, \"" + month + "\", \"" + year + "\")'>" + i + "</div>";	
				} else {
					cal_div.innerHTML += "<div class='date_blocks' id='" + cal_div.id + "_" + i + "_date_block' onClick='setValue(\"" + cal_div.parentElement.id + "\", innerHTML, \"" + month + "\", \"" + year + "\")'>" + i + "</div>";
				}
			}
		}
		
		// To toggle open and close calender
		// parameteres = elm: calender element
		expand_toggle = function (elm) {
			if( _(elm).lastElementChild.style.visibility == "hidden" ) {
				if (cur_opened != null){
					expand_toggle(cur_opened);
				}
				cur_opened = elm;
			} else if ( _(elm).lastElementChild.style.visibility == "visible" ) {
				cur_opened = null;
			}
			
			_(elm).lastElementChild.style.visibility = _(elm).lastElementChild.style.visibility == "hidden" ? "visible" : "hidden";
			_(elm).firstChild.style.visibility = _(elm).firstChild.style.visibility == "hidden" ? "visible" : "hidden";
			_(elm).classList.toggle('btnSplit');
			_(elm).lastElementChild.classList.toggle('OpenCalender');
			_(elm).firstChild.nextSibling.classList.toggle('spanGone');
		}
		
		// update date on button onClick in calender
		update_date = function(clicked) {
			if(clicked.split('_')[0] == "from"){
				if( _("to_span").innerHTML != "TO" ){
					_("to_span").innerHTML = "TO"; 
					toast("Please select 'to date'!")
				}
				_("from_span").innerHTML = _(clicked).innerHTML + " " + _(clicked.split('_')[0] + "_m_y_span").innerHTML;
				getCal('to_cal', _('from_span').innerHTML.split(' ')[1], _('from_span').innerHTML.split(' ')[2]);
			} else if ( clicked.split('_')[0] == "to" ) {
				_("to_span").innerHTML = _(clicked).innerHTML + " " + _(clicked.split('_')[0] + "_m_y_span").innerHTML;;
			}
			expand_toggle(clicked.split('_')[0] + "_date");
		}
		
		// change month year
		updateMonthYear = function (key) {
			if(key.split('_')[0] == "prev"){
				var cm = _(key).nextSibling.innerHTML.split('_')[0],
				cy = _(key).nextSibling.innerHTML.split('_')[1],
				nm = monthsList.indexOf(cm) == 0 ? 11 : monthsList.indexOf(cm) - 1;
				
				cy = nm == 11 ? cy - 1 : cy;
				_(key).nextSibling.innerHTML = "";
				updateCal(_(key).parentElement.parentElement.lastElementChild, monthsList[nm], cy);
				_(key).nextSibling.innerHTML = monthsList[nm] + "_" + cy;
			} else if (key.split('_')[0] == "next") {
				var cm = _(key).previousSibling.innerHTML.split('_')[0];
				var cy = _(key).previousSibling.innerHTML.split('_')[1];
				var nm = monthsList.indexOf(cm) == 11 ? 0 : monthsList.indexOf(cm) + 1;
				cy = nm == 0 ? (cy*1) + 1 : cy; 
				_(key).previousSibling.innerHTML = "";
				updateCal(_(key).parentElement.parentElement.lastElementChild, monthsList[nm], cy);
				_(key).previousSibling.innerHTML = monthsList[nm] + "_" + cy;
			}
		}
		
		setValue = function(elm, day, month, year) {
			_(elm).firstChild.nextSibling.innerHTML = year + '-' + ( (((monthsList.indexOf(month)+1)+'').length == 1) ? '0'+(monthsList.indexOf(month)+1) : monthsList.indexOf(month)+1 ) +'-'+((day.length==1)?'0'+day:day);
			expand_toggle(elm);
		}
		
		// To get selected value
		// parameter = calender element e.g. document.getElementById('<div_id>');
			getValue = function (elm){
				return _(elm).firstChild.nextSibling.innerHTML.search('date') > -1 
				? false 
				: _(elm).firstChild.nextSibling.innerHTML;
			}
			
			clearValue = function(elm) {
				_(elm).firstChild.nextSibling.innerHTML = 'select date';
			}
			
			clearCurOpened = function() {
				cur_opened = null;
			}
			
			return {
				get: getValue,
				toggle: expand_toggle,
				refresh: getCal
			}
		}
		
		var DP;
		var today = new Date();
		var currentMonth = today.getMonth(); // returns month index (0-11)
		var currentYear = today.getFullYear(); // returns the full year
		
		var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];	
		var currentMonthName = monthNames[currentMonth];
		
		
		window.addEventListener('load', function(){
			DP = new NDP('calender');
			console.log(DP);
			DP.refresh(currentMonthName, currentYear);
			setTimeout(function() { DP.toggle('calender'); }, 700);
		});
	</script>
	
	{% endblock content %}