{% extends 'base.html' %}


{% block content %}

<div class="container">
	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
		<h4 class="display-4 fw-normal">에스엔티 제주 캠퍼스</h4>
		<p class="fs-5 text-body-secondary" style="white-space: pre-line; margin: 2rem;">SNT 제주는 제주도에 위치한 영어 토론 어학원으로, 학생들의 자신감과 능력을 향상시키는 맞춤형 교육 프로그램을 제공합니다. 
			전문적이고 경험이 풍부한 강사진과 함께 학생들은 영어를 구사하면서 논리적인 사고와 문제 해결 능력을 함양할 수 있습니다. 
			또한, 다양한 문화활동과 해외 교환 프로그램을 통해 국제적인 시각을 넓히는 기회를 제공합니다.</p>
	</div>

</div>

{% endblock content %}