{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .navbar-nav .nav-item:hover .nav-link {
        color: #ffffff;
        background-color: #222222;
    }
    
    .navbar-nav .nav-item .nav-link {
        font-size: 18px;
    }
    .navbar-nav .nav-item.active .nav-link {
        background-color: #CCCCCC;
    }
    .navbar-collapse {
        margin-top: 1rem;
    }
    
</style>
<div class="text-center">
    <h2 class="h3 mb-3 fw-normal">커리큘럼</h2>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-color border-bottom">
    <button class="navbar-toggler ml-auto navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'curriculum' %}">Academic Reading & Writing </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'curc' %}">Current Issue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'curl' %}">Literature Essay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'curd' %}">Debate</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>
<div class="pricing-header p-1 pb-md-4 mx-auto text-center">
    <img class="img-fluid mx-auto d-block" src="{% static 'curriculum/c/1.jpg' %}">
    <img class="img-fluid mx-auto d-block" src="{% static 'curriculum/c/2.jpg' %}">
    <img class="img-fluid mx-auto d-block" src="{% static 'curriculum/c/3.jpg' %}">
    <img class="img-fluid mx-auto d-block" src="{% static 'curriculum/c/4.jpg' %}">
    <br><br>
    <h4><strong>Current Issue 수업은 어떤건가요?</strong></h4>
    <p class="fs-9 text-body-secondary-dark" style="white-space: pre-line; margin: 2rem;"> 
        SNT 제주의 Current Issue 프로그램은 
        매 주 nonfiction article을 선정해 함께 정독하고 토의하는 수업입니다.
        
        본 프로그램은 학생들이 경제, 경영, 환경, 언론, 국제 관계 등의 관련한
        사회적/국제적 이슈들을 함께 읽고 
        주어진 아티클의 내용을 이해할 뿐만 아니라 비판적 사고를 통해
        배움과 발전의 시간을 제공하고자 노력합니다.
        
        SNT 제주의 Current Issue 수업에서 특별히 집중하는 부분은
        주어진 아티클을 읽으며 영어 지문을 독해하는 수준을 넘어서서
        저자가 의도한 뉘앙스와 숨겨진 메시지를 찾아내
        행간의 의미를 파악 할 수 있는 힘을
        길러주는 것입니다.
        
        따라서 학생들이 아티클을 하나씩 읽을 때마다
        한 이슈만 기억하는 것이 아니라
        1) 제공된 아티클과 관련된 큰 테마, 
        2) 아티클에서 언급하지 않은 다양한 이해관계자들과의 관계,
        3) 시대적, 사회적, 문화적 역사적 배경 등을 함께 배우고
        4) 자신만의 관점을 에세이에 녹여넣을 수 있도록 훈련하여 
        수업의 모든 과정이 자신만의 자산이 될 수 있도록 이끌어줍니다.
        
        ​따라서, Current Issue 수업을 통해
        다양한 관점과 배경지식을 습득한 우리 학생들이
        학교에서 요구하는 IB Extended Essay와 AP Capstone을 준비할 때
        주제 선정부터 비판적, 논리적 사고로 탄탄하게 다듬어진
        일목요연한 에세이를 써낼 수 있는 힘을 길러줍니다.
        
        수업을 위한 기본 숙제:
        1) Article 미리 읽기.
        2) ESSAY 작성.
        
        모든 에세이에 꼼꼼한 첨삭과 피드백이 나갑니다.   
    </p>
    <p class="fs-9 text-body-secondary-dark" style="white-space: pre-line; margin: 2rem;">
        *카카오톡채널: <a class="text-decoration-none" href="http://pf.kakao.com/_qxixcxhxj/chat"><strong>카카오톡</strong></a> 
        *신규생은 <a class="text-decoration-none" href="{% url 'leveltest' %}"><strong>입반테스트</strong></a> 필수입니다. 예약 후 방문해 주세요.
    </p>
</div>


{% endblock content %}