{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .navbar-nav .nav-item:hover .nav-link {
        color: #ffffff;
        background-color: #222222;
    }
    
    .navbar-nav .nav-item .nav-link {
        font-size: 18px;
    }
    .navbar-nav .nav-item.active .nav-link {
        background-color: #CCCCCC;
    }
    .navbar-collapse {
        margin-top: 1rem;
    }
    
</style>
<div class="text-center">
    <h2 class="h3 mb-3 fw-normal">커리큘럼</h2>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-color border-bottom">
    <button class="navbar-toggler ml-auto navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'curriculum' %}">Academic Reading & Writing </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'curc' %}">Current Issue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'curl' %}">Literature Essay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'curd' %}">Debate</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>
<div class="pricing-header p-1 pb-md-4 mx-auto text-center">
    <img class="img-fluid mx-auto d-block" src="{% static 'curriculum/a/1.jpg' %}">
    <img class="img-fluid mx-auto d-block" src="{% static 'curriculum/a/2.jpg' %}">
    <img class="img-fluid mx-auto d-block" src="{% static 'curriculum/a/3.jpg' %}">
    <img class="img-fluid mx-auto d-block" src="{% static 'curriculum/a/4.jpg' %}">
    <br><br>
    <h4><strong>Academic Reading & Writing 은 어떤 수업인가요?</strong></h4>
    <p class="fs-9 text-body-secondary-dark" style="white-space: pre-line; margin: 2rem;">    
        지문을 꼼꼼하게 Line by Line 분석을 하기도 하고,
        Skimming 을 통한 Main Idea 와 Key words를 찾아가며 읽는 훈련,
        Annotation 하며 읽기, 글의 구조, 글쓴이의 의도를 
        파악하며 읽는 연습을 합니다. 
        
        빠르고 정확한 독해력을 키우는 수업입니다.
        물론 구성원의 레벨에 따라 지문의 난이도가 다르고, 
        수업 방식이 상이할 수 있습니다.
        
        그러나 전반적으로 국제 학교 학생들이 학교 수업을 익히는 과정에서
        자연스럽게 터득한 느낌, 감으로 문제를 푸는 것이 아닌
        지문 속에서 정확한 답을 찾아내는 Evidence Based 능력을 키웁니다.
        
        ​Essay Writing 은 
        시사, 사회, 정치, 국제관계 등의 주제를 활용한 Prompt로 
        Argumentative Essay, Analytical Essay, Reaction Essay 등을 작성을 하고, 
        
        ​수업 중 Peer Editing, 혹은 개인별 Essay에 대한
        선생님의 꼼꼼한 첨삭이 함께 이뤄집니다. 
        
        수업을 위한 기본 숙제:
        1) Vocab 암기
        2) Essay Writing 
        
        ​모든 에세이에 꼼꼼한 첨삭과 피드백이 나갑니다.
    </p>
    <p class="fs-9 text-body-secondary-dark" style="white-space: pre-line; margin: 2rem;">
        *카카오톡채널: <a href="http://pf.kakao.com/_qxixcxhxj/chat">카카오톡</a> 
        *신규생은 <a href="{% url 'leveltest' %}">입반테스트</a> 필수입니다. 예약 후 방문해 주세요.
    </p>
</div>


{% endblock content %}