{% extends 'base.html' %}
<style>
   .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
   .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }

    .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    }

    .bi {
    vertical-align: -.125em;
    fill: currentColor;
    }

    .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    }

    .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
    }
    .bd-mode-toggle {
    z-index: 1500;
    }

	.form-signin {
	max-width: 330px;
	padding: 15px;
	}

	.form-signin .form-floating:focus-within {
	z-index: 2;
	}

	.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	}

	.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;	
	}
	.text-center {
  	text-align: center;
	}
</style>

{% block content %}

<main class="form-signin w-50 m-auto">
  <form class="form-signin" method="post">{% csrf_token %}
  	<!--
    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
	-->
	<h2 class="h3 mb-3 fw-normal text-center">로그인</h2>
	<br>
    <div class="form-floating">
      <input type="username" name="username" class="form-control" id="inputUsername" placeholder="아이디">
      <label for="inputUsername">아이디</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="비밀번호">
      <label for="inputPassword">비밀번호</label>
    </div> 
    <br>


	{% for error in field.errors %}
		<p style="color: red;">{{error}}</p>
	{% endfor %}
	{% if login_form.non_field_errors %}
		<div style="color: red;">
		<p>{{login_form.non_field_errors}}</p>
		</div>
	{% endif %}

	
    <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
    <br>
    <br>
    <div class="text-center"> 
    	<a class="p-2 text-dark text-decoration-none text-center" href="{% url 'password_reset' %}">비밀번호 재설정</a>
	</div>
  </form>
</main>



{% endblock content %}